<h1>Hangman</h1>

<ul>
  <% @games.each do |game| %>
    <% unless game.finished?  %>
      <li>
        <h2> 
          <%= link_to "Game #{game.id}", game_path(game) %>
        </h2>
      </li>
    <% end %>
  <% end %> 
</ul>

<%= link_to 'start a new game', new_game_path %>